/*  mobile */
html {
  overflow-y: scroll;
}

.App {
  text-align: center;
}
a {
  user-select: none;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.App-header {
  top: 0;
  text-align: center !important;
}

.App-header > h1 {
  padding-left: 0px;
}

.reviews-list {
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}

.review-card {
  margin-top: 30px;
}

.review-card:first-of-type {
  margin-top: 94px;
}

.review-card__title {
  display: inline-block !important;
}

.review-card__header {
  float: right;
  display: inline-block;
  padding-top: 20px !important;
}

.review-card__header > div:first-of-type {
  padding-right: 10px !important;
  padding-top: 5px !important;
}

@media only screen and (min-width: 800px) {
  .reviews-list {
    width: 75%;
  }

  .review-card-details__content {
    font-size: 16px !important;
  }
}
