.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: large;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-card {
  width: "40%";
  margin: "0 auto";
  justify-content: "center";
}

.review-card__header {
  float: right;
}

.review-card__header > div {
  padding-right: 0px !important;
}
